body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222; 
}

.coming-soon-container {
    text-align: center;
    color: #B89855; 
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    animation: blink 3s infinite;
}
